fastapi>=0.100.0
uvicorn
sqlalchemy>=2.0.0
pydantic>=1.10.13
pydantic-settings>=2.0.3
python-multipart
passlib[bcrypt]
httpx
jose
python-jose[cryptography]
python-dotenv
transformers
torch
torchaudio
soundfile
librosa
watchfiles
anyio
typing-extensions
bcrypt
psycopg2-binary 